In [1]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_spot_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_spot_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Vaini,TO,77.00,few clouds,-21.20,-175.20,Keleti Beach Resort
1,18,Basco,PH,84.88,few clouds,20.45,121.97,Nathaniel's Lodge
2,30,Monrovia,LR,77.00,broken clouds,6.30,-10.80,Eco-Hotel Hall & Restaurant
3,33,Pathein,MM,81.50,overcast clouds,16.78,94.73,Pathein Hotel
4,35,Kushikino,JP,78.80,light intensity shower rain,31.72,130.27,Tajiri Inn

In [3]:
#Create separate DataFrames for each city on the travel route, using the loc attribute.
Shingu_df = vacation_spot_df.loc[(vacation_spot_df["City"]=="Shingu")]
Kosai_df = vacation_spot_df.loc[(vacation_spot_df["City"]=="Kosai")]
Hasaki_df = vacation_spot_df.loc[(vacation_spot_df["City"]=="Hasaki")]
Katsuura_df = vacation_spot_df.loc[(vacation_spot_df["City"]=="Katsuura")]

In [4]:
#To map each city on the route, get the latitude-longitude pairs for each city DataFrame as tuples.
Shingu_df.values

array([[115, 'Shingu', 'JP', 77.0, 'light intensity shower rain', 33.73,
        135.98, 'Shingu UI Hotel']], dtype=object)

In [5]:
Kosai_df.values

array([[498, 'Kosai', 'JP', 80.01, 'overcast clouds', 34.71, 137.53,
        'Hotel Route Inn Hamanako']], dtype=object)

In [6]:
Hasaki_df.values

array([[297, 'Hasaki', 'JP', 86.0, 'broken clouds', 35.73, 140.83,
        'Inubosaki Kanko Hotel']], dtype=object)

In [7]:
Katsuura_df.values

array([[94, 'Katsuura', 'JP', 86.0, 'light intensity shower rain', 35.13,
        140.3, 'Katsuura Hotel Mikazuki']], dtype=object)

In [8]:
import gmaps
import gmaps.datasets

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
#Create a marker layer map for the four cities.
Shingu = (33.73, 135.98)
Kosai = (34.71, 137.53)
Katsuura = (35.13, 140.3)
Hasaki = (35.73, 140.83)


fig = gmaps.figure()
Japan_Bay_Trip = gmaps.directions_layer(Shingu, Hasaki, waypoints=[Kosai, Katsuura], travel_mode='DRIVING')
fig.add_layer(Japan_Bay_Trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
result_df= pd.concat([Shingu_df, Kosai_df, Hasaki_df, Katsuura_df])
result_df.reset_index()
result_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
23,115,Shingu,JP,77.00,light intensity shower rain,33.73,135.98,Shingu UI Hotel
126,498,Kosai,JP,80.01,overcast clouds,34.71,137.53,Hotel Route Inn Hamanako
75,297,Hasaki,JP,86.00,broken clouds,35.73,140.83,Inubosaki Kanko Hotel
18,94,Katsuura,JP,86.00,light intensity shower rain,35.13,140.30,Katsuura Hotel Mikazuki

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in result_df.iterrows()]

# Add a pop-up marker for each city.
locations = result_df[["Lat", "Lng"]]
max_temp = result_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))